@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap');

/* font-family: 'Playfair Display', serif; */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(217deg,
            rgba(255, 0, 0),
            rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, rgba(102, 255, 0), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(0, 0, 255), rgba(0, 0, 255, 0) 70.71%);
    font-family: Arial, Helvetica, sans-serif;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(217deg,
            rgba(255, 0, 0),
            rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, rgba(102, 255, 0), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(0, 0, 255), rgba(0, 0, 255, 0) 70.71%);
    filter: saturate(2);
}

.form-wrapper {}

.form-header {
    font-family: 'Playfair Display', serif;
    margin: 0;
    font-weight: 900;
    text-align: center;
    color: yellow;
    font-size: 90px;
    filter: drop-shadow(1px 1px rgb(102, 102, 102));


}

.form {
    position: relative;
    padding: 0 10px;

}

.form__label {
    display: inline-block;
    position: absolute;
    padding: 6px 0 0 6px;
    font-weight: bold;
    font-size: 14px;
    color: gray;
}

.form__item {
    display: block;
    width: 100%;
    padding-top: 5px;
    border: 1px solid white;
    padding: 30px 5px 10px 5px;
    font-weight: bold;
}


.form__item::placeholder {
    font-size: 20px;
    color: lightgray;
}


.form__fieldset {
    border: 2px solid rgba(255, 254, 254, 0.315);

}

.form__legend {
    /* mix-blend-mode: overlay; */
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 42px;
    /* line-height: 2; */
    background-color: transparent;
    color: yellow;
    padding: 3px 40px;

}

.form__label--radio-btn {
    color: white;
    position: unset;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 24px;
    text-align: center;
    line-height: 0;
    padding: 10px;
    transition: .3s linear;
    transition-property: background-color, color;

}

.form__item--radio-btn {
    width: unset;
    display: initial;
}

.form-radio-container {
    /* text-align: center; */
    display: flex;
    padding-left: 70px;

}

.form-radio-container:hover .form__label--radio-btn {
    background-color: yellow;
    color: black;

}